@model PabloCortes_Proyecto1.Models.Vehiculo

@{
    ViewData["Title"] = "Crear Vehículo";
}

<h1>Crear</h1>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Traccion" class="control-label"></label>
                <input asp-for="Traccion" class="form-control" />
                <span asp-validation-for="Traccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimaFechaAtencion" class="control-label"></label>
                <input asp-for="UltimaFechaAtencion" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly />
                <span asp-validation-for="UltimaFechaAtencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TratamientoNanoCeramico" class="control-label"></label>
                <select asp-for="TratamientoNanoCeramico" class="form-control">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="TratamientoNanoCeramico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> |
                <a asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}